body {
    margin: 0px;
    padding: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    background-color: #e5e5e5;
    color: #000000;
    font-size: 15px;
    overflow-x: hidden;
    display: block;
}

#conteiner {
    width: 100%;
    overflow: hidden;
    max-width: 1400px;
    margin-right: 58.6px;
    margin-left: 58.6px;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-width: 890px;
}

div {
    display: block;
}


/* Header */
.header {
    clear: both;
    height: auto;
    margin-top: 3px;
}
.header {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    position: relative;
}



/* Logo */
#logo {
    width: 320px;
    height: 50px;
    float: left;
    font-size: 12px;
    padding-left: 60px;
    margin-bottom: 12px;
    margin-left: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
}
#logo > a {
    font-size: 27px;
    font-weight: bold;
    color: #444444;
}
#logo > a:hover {
    color: #193d95;
}
.logoDefinition {
    font-size: 12px;
    font-weight: bold;
}



/* Buttons */
.btns li {
    padding-right: 10px;
    list-style: none outside none;
    display: inline-block;
    margin: 0;
    font-size: 15px;
    color: #444444;
}
.btns a {
    color: #000;
    text-decoration: none;
    padding: 5px;
    padding-top: 2px;
    font-size: 1.33333333em;
    opacity: .5;
}
.btns a:hover {
    opacity: 1;
}



/* Navbar */
#navBtns {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #e4e4e4, #ccc);
    border: 1px solid #ccc;
    padding: 1px;
    height: 42px;
}
#navBtns ul {
    margin: 0px;
}
#navBtns ul li {
    float: left;
    display: inline-block;
    border: .5px solid #ccc;
    width: 90px;

    padding-top: 12px;
    padding-bottom: 12px;
}
#navBtns a {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color: black;
}
#navBtns a:hover {
    font-weight: bold;
}


#content_right {
    background: #f0f0f0;
    width: 15.5%;
    border-top: 1px solid #ccc;
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;

}

details {
    padding: 3px 0 2px 16px;
    line-height: 150%;

}

details li {
    padding: 3px 0 2px 7px;
}

details li a {
    text-decoration: none;
    font-size: 8.5pt;
    color: black;

}

summary {
    font-size: 8.5pt;
}
summary a {
    text-decoration: none;
    color: black;
}

summary:hover, summary a:hover {
    cursor: pointer;
    color: #00008b;
}



main {
    background: #f7f7fa;
    /*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
    display: flex;
}

#content_center {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

}



.code {
    display: flex;

    border: solid black .5px;
    margin: 20px;
}
.numbers {
    border-right: solid green 2px;
}
.code pre {
    margin-top: 2px;
    margin-bottom: 2px;

    padding: 2px;
}
.number {
    padding-right: 4px;
}
.content > pre {
    padding-left: 4px;
}